<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="cn.edu.hdu.covertmedia" version="0.0.1">

<name>Cordova media convert plugin</name>

<license>HDU</license>

<keywords>amr,wav</keywords>

<description>Native interface to convert media type between wav and amr.</description>

<author>Leibi</author>

<engines>
	<engine name="cordova" version=">=3.3.0" />
</engines>

<js-module src="www/ConvertMedia.js" name="ConvertMedia.js">
	<clobbers target="ConvertMedia" />
</js-module>

<!-- ios -->
<platform name="ios">
	<config-file target="config.xml" parent="/*">
		<feature name="ConvertMedia">
			<param name="ios-package" value="ConvertMedia" />
		</feature>
	</config-file>

	<header-file src="src/ios/ConvertMedia.h">
	<source-file src="src/ios/ConvertMedia.m">
</platform>
</plugin>