<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="cn.edu.hdu.cordova.convert.media" version="0.0.1">

<name>Cordova media convert plugin</name>

<license>HDU</license>

<keywords>amr,wav,AmrToWav,WavToAmr</keywords>

<description>Native interface to convert media type between wav and amr.</description>

<author>Leibi</author>

<engines>
	<engine name="cordova" version=">=3.3.0" />
</engines>

<js-module src="www/ConvertMedia.js" name="ConvertMedia.js">
	<clobbers target="ConvertMedia" />
</js-module>

<!-- ios -->
<platform name="ios">
	<config-file target="config.xml" parent="/widget">
		<feature name="ConvertMedia">
			<param name="ios-package" value="ConvertMedia" />
		</feature>
	</config-file>

	<header-file src="src/ios/ConvertMedia.h" />
	<source-file src="src/ios/ConvertMedia.m" />
    
    <header-file src="src/ios/VoiceConvert/VoiceConverter.h" />
    <source-file src="src/ios/VoiceConvert/VoiceConverter.mm" />
    <header-file src="src/ios/VoiceConvert/amrwapper/amrFileCodec.h" />
    <source-file src="src/ios/VoiceConvert/amrwapper/amrFileCodec.mm" />
    <header-file src="src/ios/VoiceConvert/opencore-amrnb/interf_dec.h" />
    <header-file src="src/ios/VoiceConvert/opencore-amrnb/interf_enc.h" />
    <header-file src="src/ios/VoiceConvert/opencore-amrwb/dec_if.h" />
    <header-file src="src/ios/VoiceConvert/opencore-amrwb/if_rom.h" />
    <source-file src="src/ios/VoiceConvert/lib/libopencore-amrnb.a" framework="true" />
    <source-file src="src/ios/VoiceConvert/lib/libopencore-amrwb.a" framework="true" />
    
    <framework src="AVFoundation.framework" />
</platform>
</plugin>